/* Table of Contents

    1. Import section
    2. Basic Styles
    3. Header
    4. Slider
    5. Categories
    6. Join Us

    7. Footer
    8. Scrolling Up
*/




/* 1.Import section */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import 'https://fonts.googleapis.com/css?family=PT+Sans';



/* 2.BASIC STYLES */

    html, body{
        height:100%;
    }

    body{
        font-family: 'PT Sans', sans-serif;
    }




/* 3. HEADER */

    #header .navbar{
        min-height: 80px;
        margin-bottom: 0;
    }

    .st-navbar{
        background-color: #e7f48a;
        border-radius: 0;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        border: none;
    }

    .st-navbar .navbar-toggle {
        text-transform: uppercase;
        font-size: 20px;
        border-color: white;
    }

    .st-navbar a:focus {
        outline: none;
    }

    .st-navbar .navbar-nav {
        letter-spacing: 1px;
        margin-top: 15px;
    }

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand{
        font-size: 38px;
        font-family: 'PT Sans', sans-serif;
        color: #7e7bb7;
        font-weight: bold;
    }

    .st-navbar .navbar-nav li a {
        color: #606060; /*color: #606060;*/
        font-size:20px;
    }
    .st-navbar .navbar-nav li a:hover {
        outline: none;
    }
    .st-navbar .navbar-nav li a:focus,
    .st-navbar .navbar-nav li a:active {
        color: #7e7bb7;
    }

    .st-navbar .navbar-nav li.active a {
        color: #7e7bb7;
    }

    .st-navbar ul li.selected a{
        color: #7e7bb7;
    }

    .st-navbar .navbar-nav li.active a:hover,
    .st-navbar .navbar-nav li.active a:focus,
    .st-navbar .navbar-nav li.active a:active {
        color: #7e7bb7;
    }

    .st-navbar .navbar-toggle {
        color: #d0cfeb;
        text-transform: uppercase;
        font-size: 10px;
        border-color: white;
    }

    .st-navbar .navbar-toggle:hover,
    .st-navbar .navbar-toggle:focus {
        color: #d0cfeb;
    }

    .st-navbar .navbar-header{
        margin-top: 25px;
    }

    .st-navbar .navbar-toggle .icon-bar{
        background-color: #000;
    }

    .navbar-brand{
        padding:0;
    }

    .navbar-brand img{
        width:180px;
        margin-top:-16px;
    }



/* 4. SLIDER */

    #home-carousel .item{
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 700px;
    }

    #home-carousel .item:before{
        background-color: #000;
        content: "";
        height: 100%;
        top:0;
        left: 0;
        opacity: 0.5;
        position: absolute;
        width: 100%;
    }

    .carousel-caption {
        left: 15px;
        right: 15px;
        top:50%;
        font-size: 15px;
        text-align: left;
        color:#fff;
        text-shadow: none;
        margin-top: -130px;
    }

    .carousel-caption h1{
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 1.467;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
    }

    .carousel-caption h2{
        font-weight: 600;
        font-size: 61px;
        margin-top: 0px;
        font-family: 'PT Sans', sans-serif;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }

    .home-carousel-left,
    .home-carousel-right{
        background-color: #f0f0f0;
        color: #000;
        font-size: 32px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 32px;
        z-index: 999;
        -webkit-transition:300ms;
        -moz-transition:300ms;
        -o-transition:300ms;
        -ms-transition:300ms;
        transition:300ms;
    }

    .home-carousel-left{
        left:-32px;
    }

    .home-carousel-right{
        right: -32px;
    }

    #home-carousel:hover .home-carousel-left {
        left:0;
    }

    #home-carousel:hover .home-carousel-right {
        right:0;
    }


    /* Carousel animation */
    #home-carousel .item h1,
    #home-carousel .item h2,
    #home-carousel .item p {
        opacity: 0;
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }

    #home-carousel .item h1{
        -webkit-transition: all 0.5s ease-in-out 0.15s;
        -moz-transition: all 0.5s ease-in-out 0.15s;
        -ms-transition: all 0.5s ease-in-out 0.15s;
        -o-transition: all 0.5s ease-in-out 0.15s;
        transition: all 0.5s ease-in-out 0.15s;
    }

    #home-carousel .item.active h1, 
    #home-carousel .item.active h2, 
    #home-carousel .item.active p {
        opacity:1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    #home-carousel .item h2 {
        -webkit-transition: all 0.5s ease-in-out 0.30s;
        -moz-transition: all 0.5s ease-in-out 0.30s;
        -ms-transition: all 0.5s ease-in-out 0.30s;
        -o-transition: all 0.5s ease-in-out 0.30s;
        transition: all 0.5s ease-in-out 0.30s;
    }

    #home-carousel .item p {
        -webkit-transition: all 0.5s ease-in-out 0.45s;
        -moz-transition: all 0.5s ease-in-out 0.45s;
        -ms-transition: all 0.5s ease-in-out 0.45s;
        -o-transition: all 0.5s ease-in-out 0.45s;
        transition: all 0.5s ease-in-out 0.45s;
        font-size: 2.5vmin;
    }

    @media (max-width: 767px) {
        #home-carousel .item h1 {
            font-size:12px;
        }
        
        .button-apply{
            font-size: 12px;
            margin-top:1px;
        }
    }

    /* Buttons Slider */
    .button-apply{
        width:240px;
        height:140px;
        margin:0 auto;
        border:1px solid #a2a0d8;
        background-color: #a2a0d8;
        border-radius: 8px;
        margin-top: 80px;
        border-color:#7e7bb7;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all; 
    }

    .button-apply a{
        text-align: center;
        text-decoration: none;
        font-size: 55px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.98;
        position: absolute;
        width:240px;
        margin-top: 20px;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all; 
    }

    .button-apply:hover{
        background-color: #7e7bb7;
        transform:scale(1.2);
        -webkit-transform:scale(1.2);
        -o-transform:scale(1.2);
        -moz-transform:scale(1.2);
        -ms-transform:scale(1.2);
    }

    @media (max-width: 767px) {
        .button-apply{
            font-size: 12px;
            margin-top:1px;
        }
        
        .button-apply-2{
            font-size: 12px;
            margin-top:1px;
        }
    }



/* 5. CATEGORIES */
    #categories{
        background-color: #d0cfeb;
    }

    .text-cat {
        text-align: center;
        padding-top:93px;
        padding-bottom:70px;
    }

    .text-cat h2{
        font-size:50px;
        text-transform: uppercase;
        color:white;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .st-service{
        margin-bottom: 70px;
    }

    .cat-ico{
        text-align: center;
    }

    .cat-ico h2{
        color:white;
        text-transform: uppercase;
    }




/* 6. IMAGES OVERFLOW / JOIN US */

    .text-join{
        margin-top:5px;
        margin-bottom: 70px;
    }

    h2.join-us-name{
        color:#7e7bb7;
        margin-bottom: 40px;
        font-size:60px;
        font-weight: 700;
    }

    .join-us-text p{
        font-size: 25px;
        text-align: center;
        letter-spacing: 1px;
        color: #464a49;
        width:70%;
        margin: 0 auto;
    }

    #testimonial .item {
        margin-top:100px;
        text-align: center;
        display: block;
        width: 100%;
        padding-bottom: 62px;
    }

    #testimonial .item img {
        display: inline-block;
    }

    .testimonial-people h2{
        font-size: 35px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .testimonial-people p{
        font-size: 23px;
        padding-left: 30px;
        padding-right: 30px;
    }

    /* GALERY */

    .sigmapad {
        padding: 0 1px 1px 0 !important;
        margin: 0 !important;
    }

    .img-fluid {
        display: block;
        width: 100%;
        height: 400px;
    }

    .img-gallery{
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .img-gallery .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #0c0b0b;
        padding: 30px;
        background-color: rgba(231, 244, 138, 0.90);
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .img-gallery:hover .overlay a.folio-detail, 
    .img-gallery:hover .overlay a.folio-link,  
    .img-gallery:hover .overlay h2, 
    .img-gallery:hover .overlay p, 
    .img-gallery:hover .overlay, 
    .team-member:hover .overlay p, 
    .team-member:hover .overlay h4, 
    .team-member:hover .social-icons {
        opacity:1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .overlay h2, .overlay p{
        padding-top: 12%;
    }

    .large h2, .large p{
        padding-top: 7%;
    }

    .overlay a.folio-detail, 
    .overlay a.folio-link, 
    .overlay p, 
    .overlay h2,  
    .overlay, 
    .overlay h4, 
    .social-icons {
        -moz-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -o-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }

    .button-apply-2{
        width:240px;
        height:140px;
        margin:0 auto;
        
        background-color: #a2a0d8;
        border-radius: 8px;
        margin-top:50px;
        margin-bottom:50px;
        border-color:#7e7bb7;   
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all; 
    }

    .button-apply-2 a{
        text-align: center;
        text-decoration: none;
        font-size: 55px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.98;
        position: absolute;
        width:240px;
        margin-top: 20px;
        transition: .5s all;
        -webkit-transition: .5s all;
        -moz-transition: .5s all;
        -o-transition: .5s all;
        -ms-transition: .5s all; 
    }

    .button-apply-2:hover{
        background-color: #7e7bb7;
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
        -webkit-transform:scale(1.2);

    }




/* 7. FOOTER */

    #footer{
        background-color: #e7f48a;
        padding-top: 40px;
        padding-bottom: 40px;
        color: rgba(255, 255, 255, 0.4);
    }

    #footer a{
        color: rgba(255, 255, 255, 0.4);
    }
    #footer a:hover{
        color: #7e7bb7;
    }

    .footer-social-icons{
        color:#7e7bb7;
    }


    .footer-social-icons a{
        margin: 0 5px;
        font-size: 16px;
    }

    .footer-social-icons i{
        color:#7e7bb7;
    }

    .footer-social-icons i:hover{
        color:#7371a4;
    }


    .footer-social-icons span{
        margin-right: 10px;
        font-size: 25px;
        color:#7e7bb7;
    }

    .copyright p{
        font-size: 25px;
        color:#7e7bb7;
    }


    /* 8. SCROLLING UP */

    .scroll-up {
        position: fixed;
        display: none;
        z-index: 999;
        bottom: 4.8em;
        right: 1.8em;
    }

    .scroll-up ul{
        margin: 0;
        padding: 0;
    }

    .scroll-up li{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .scroll-up a {
        background-color: #5c5a9a;
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 38px;
        box-shadow: 0px 0px 5px #000;
    }

    .scroll-up a:hover,
    .scroll-up a:active {
        background-color: #f5f5f5;
        color: #000;
    }