{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 50px;"></p> 
       </div> 
    </div>
<div class="col-md-4 col-md-offset-4 btn-group-vertical" role="group">
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Hello, do you want to join <strong>ERASMUS HAUS</strong>, plese use are third party authentication system so you can join and browse are features. Thank you!{% endblocktrans %}</p>
    <a id="facebook_login" href="/accounts/facebook/login" method="js-sdk" class="btn btn-lg btn-primary"><i class="fa fa-facebook"></i>&nbsp;Sign in with Facebook</a>
&nbsp;
    <a id="linkedin_login" href="{% provider_login_url 'linkedin' %}" class="btn btn-primary btn-lg"><i class="fa fa-linkedin"></i>&nbsp;Sign in with LinkedIn</a>
&nbsp;
    <a id="twitter_login" href="{% provider_login_url 'twitter' %}" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i>&nbsp;Sign in with Twitter</a>
</div>
    <div class="container-fluid">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 15px;"></p> 
       </div> 
    </div>
{% endblock %}
