htmlcov/
contact/__pycache__/views.cpython-34.pyc
check_in/migrations/0001_initial.py
check_in/migrations/0002_remove_initialcharacteristicmodel_birthday.py
tags
check_in/migrations/0003_auto_20170121_0620.py
check_in/migrations/0004_auto_20170122_1845.py
