{% extends "base.html" %}

{% load bootstrap3 %}

{# load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block apply_form_to_job %}

<div class="container">
	<div class="row">
		<p style="padding:30px;"></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% if form.is_multipart %}
			<form class="form" method="post" action="{% url 'apply_to' %}" enctype="multipart/form-data">
			{% else %}
			<form class="form" method="post" action="{% url 'apply_to' %}">
			{% endif %}
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
				{% endbuttons %}
			</form>
		</div>
	</div>
</div>

{% endblock %}
