{% extends "base.html" %}

{% block display_jobs %}

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h1 class="lead">Apply for SuperJobs</h1>

			{% if latest_posts %}

				<ul>
				{% for post in latest_posts %}
				<h3><a href="/blog/{{ post.url }}">{{ post.title }}</a></h3>
				<p><em>{{ post.created_at }}</em></p>
				<p>{{ post.description }}</p>
				<a class="btn btn-default" href="#" role="button">Apply</a>
				{% endfor %}
				</ul>

			{% endif %}

		</div>
	</div>
</div>

{% endblock %}
