{% extends "base.html" %}


{% block sort_out_jobs %}
    <!-- HEADER -->
    <header id="header">
    <nav class="navbar st-navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
								<a class="navbar-brand" href="{% url 'index' %}"><img src="/static/img/logo1.png" alt="Welcome to SuperJobs"></a>
            </div>
            <div id="st-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
									<li class="active"><a href="{% url 'index' %}">Home</a></li>
									<li><a href="{% url 'about' %}">About</a></li>
									<li><a href="{% url 'jobs' %}">Career</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
                        <ul class="dropdown-menu">
													{% if user.is_authenticated %}
                            <li><a id="logout" href="/accounts/logout"><i class="fa fa-user" aria-hidden="true"></i>Logout</a></li>
													{% else %}
                            <li><a href="/accounts/signup"><i class="fa fa-user" aria-hidden="true"></i> SignUp</a></li>
                            <li><a href="/accounts/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
													{% endif %}
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <!-- /HEADER -->

<div class="container">
	<div class="row">
		<p style="padding:20px;"></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="lead">{{ single_post.title }}</h1>
				</div>
				<div class="panel-body">
					<p class="lead">{{ single_post.description }}</p>
					<p>Tag: {{ single_post.tag }}</p>
					<p><em>{{ single_post.created_at }}</em></p>
				</div>
				<div class="panel-footer">
					<a class="btn btn-default" href="#" role="button">Apply</a>
				</div>
			</div>


		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center">
					<p class="lead">Get back and browse more<a href="/blog/jobs"> jobs!</a></p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<p style="padding:80px;"></p>
	</div>
</div>

{% endblock %}
