{# templates/blog/success.html #}
{% extends "base.html" %}

{% load i18n %}

{% block success_page %}
    <!-- HEADER -->
    <header id="header">
    <nav class="navbar st-navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
								<a class="navbar-brand" href="{% url 'index' %}"><img src="/static/img/logo1.png" alt="Welcome to SuperJobs"></a>
            </div>
            <div id="st-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
									<li class="active"><a href="{% url 'index' %}">Home</a></li>
									<li><a href="{% url 'about' %}">About</a></li>
									<li><a href="{% url 'jobs' %}">Career</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
                        <ul class="dropdown-menu">
													{% if user.is_authenticated %}
                            <li><a id="logout" href="/accounts/logout"><i class="fa fa-user" aria-hidden="true"></i>Logout</a></li>
													{% else %}
                            <li><a href="/accounts/signup"><i class="fa fa-user" aria-hidden="true"></i> SignUp</a></li>
                            <li><a href="/accounts/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
													{% endif %}
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <!-- /HEADER -->

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p style="padding:30px;"></p>
		</div>
	</div>
</div>

<div class="jumbotron">
	<h1 class="lead">This will be displayed some helper text for Users!</h1>
</div>

{% endblock %}
