{% extends "base.html" %}

{% load staticfiles %}

{% block about-styles %}
		<link rel="stylesheet" href="{% static 'css/about-style.css' %}" >
{% endblock %}

{% block about-content %}
    <!-- BANNER SECTION -->
    <section id="banner-section">
        <div class="banner-text">
            <h1 class="text-center">Want to earn money?</h1>
            <h2>
                <div class="button-apply">
                    <a href="#">Apply Now</a>
                </div>
            </h2>
        </div>
    </section>
    <!-- /BANNER SECTION -->
    
    <!-- WHAT PEOPLE SAY SECTION -->
    <section id="people">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h1 class="text-center people-say">What people say</h1>
            </div>
            <div class="col-md-6 comment" style="float:left;">
                <div class="single-comment">
                    <img src="/static/img/people/01.png" class="">
                    <h2>Jim Carter<br> Plumber</h2>
                    <br><br><br>
                    <p><em>?Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada purus enim, eget interdum est blandit sit amet. Morbi sed ipsum eu felis sodales aliquam. Fusce eu sem massa. Ut sagittis, magna id tincidunt tempor, mi ipsum lobortis enim, quis.?</em></p>
                </div>
            </div>
            <div class="col-md-6 comment" style="float:right;">
                <div class="single-comment" >
                    <img src="/static/img/people/02.png" class="">
                    <h2>Tom Lawrence<br> Carpenter</h2>
                    <br><br><br>
                    <p><em>?Donec ac purus facilisis, cursus arcu a, pharetra risus. Vivamus ultrices laoreet varius. Fusce quis mauris vehicula, cursus arcu non, iaculis justo. Integer fermentum congue nisi id maximus. Phasellus eleifend tortor et facilisis iaculis. Lore ipsum dolor.?</em></p>
                </div>
            </div>
            <div class="col-md-6 comment" style="float:left;">
                <div class="single-comment">
                    <img src="/static/img/people/03.png" class="">
                    <h2 class="resp-text">Ed Scott<br> HVAC</h2>
                    <br><br><br>
                    <p><em>?Donec ac purus facilisis, cursus arcu a, pharetra risus. Vivamus ultrices laoreet varius. Fusce quis mauris vehicula, cursus arcu non, iaculis justo. Integer fermentum congue nisi id maximus. Phasellus eleifend tortor et facilisis iaculis. Lore ipsum dolor.?</em></p>
                </div>
            </div>
            <div class="col-md-6 comment" style="float:right;">
                <div class="single-comment">
                    <img src="/static/img/people/04.png" class="">
                    <h2>Ella Elisson<br> Housekeeper</h2>
                    <br><br><br>
                    <p><em>?Donec ac purus facilisis, cursus arcu a, pharetra risus. Vivamus ultrices laoreet varius. Fusce quis mauris vehicula, cursus arcu non, iaculis justo. Integer fermentum congue nisi id maximus. Phasellus eleifend tortor et facilisis iaculis. Lore ipsum dolor.?</em></p>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- /WHAT PEOPLE SAY -->
    
    <!-- JOIN US -->
    <section id="join-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center people-say">Join Us</h1>
                    <br><br>
                    <p class="text-center">Seeking for job?<br> Are you handy with various tool's?<br> What are you waiting for?</p>
                    <h2>
                        <div class="button-apply">
                            <a href="#">Apply Now</a>
                        </div>
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!-- /JOIN US -->
{% endblock %}
