    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 copyright">
                    <p>? SuperJobs <script> document.write(new Date().getFullYear()) </script></p>
                </div>
                 <div class="col-sm-4 copyright">
                     <p><i class="fa fa-envelope" aria-hidden="true"></i> superjobs@gmail.com</p>
                </div>
                <!-- SOCIAL ICONS -->
                <div class="col-sm-4 footer-social-icons text-center">
                    <span>Keep in touch</span><br><br>
                        <a href="#"><i class="fa fa-facebook-official fa-3x"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                        <a href="#"><i class="fa fa-skype fa-3x"></i></a>
                        <a href="#"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></a>
                </div>
                <!-- /SOCIAL ICONS -->
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
