{% extends "base.html" %}

{% block script %}

<script src="https://checkout.stripe.com/checkout.js"></script>

{% endblock %}


{% block form %}

    <div class="container">
        <div class="row">
            <p style="padding:100px"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h3>Erasmus Haus Fee</h3>
            <form action="" method="POST">
                {% csrf_token %}
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_AvBnrIWeiAGXHX4TwPqlyi0L"
                data-amount="30000"
                data-name="Erasmus Haus"
                data-description="Fee"
                data-image="/static/img/squarelogo.png"
                data-locale="auto">
              </script>
            </form>
        </div>
    </div>
</div>

{% endblock %}
