{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}


<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
          <p style="padding:50px;"></p>
          {% if user.is_authenticated %}
              <h2 class="text-center">Hello {{ user.username }}. Welcome to SOCIETE.</h2>
          <p>Please fill put this form, and SOCIETE team will contact you soon. Make shure to fill out all form fields. Thank you.</p>
          {% else %}
          <h1 class="text-center">Welcome to SOCIETE.</h1>
          <p>Please fill put this form, and SOCIETE team will contact you soon. Make shure to fill out all form fields. Thank you.</p>
          {% endif %}
      </div> 
   </div> 
</div>

   <div class="row">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3
                  col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

        <form class="form"  action="." method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}



        <button type="submit" class="btn btn-primary">Submit</button>
            
        
        </form>

       </div>
    </div> 

{% endblock content %}
