{# tamplates/footer.html #}

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-social-icons text-center">
                </div>
                 <div class="col-sm-4 text-center">
            			<img src="/static/img/erasmus_small.png" class="img-responsive center-block" alt="Responsive image" width=200 height=200>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis eleifend tellus, eu ullamcorper
									libero. Sed diam dui, dictum sed tincidunt et, facilisis quis risus. Quisque bibendum vestibulum
									vulputate.</p>
                </div>
                <div class="col-sm-4 map" id="map">
                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
    <div id="footerRights" class="container-fluid copyright">
       <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <p align="center">© 2015 Erasmus Haus</p>
           </div>
       </div> 
    </div>
</div><!--/ end container-->
