{# tamplates/footer.html #}

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
									<div class="logo pull-left">
            			   <img src="/static/img/erasmus_small.png" class="img-responsive" alt="Responsive image" width=200 height=200>
								  </div>
								</div>
                 <div class="col-sm-3">
									 <div class="pull-left">
									   <ul class="list-unstyled">
						           <li><a href="#"><i class="fa fa-skype fa-3x"></i></a></li> vytousa
						           <li><a href="#"><i class="fa fa-whatsapp fa-3x"></i></a></li> +17189093303
					           </ul>
									 </div>
                </div>
                <div class="col-sm-3" id="">
									<div class="pull-right">
						          <a href="#"><i class="fa fa-envelope fa-3x"></i></a> Temporary Email:
											 haus.erasmus@gmail.com
									</div>
                </div>
                <div class="col-sm-3" id="">
									<div class="pull-right">
										<address>
											<strong>Location</strong><br>
											40 W 38 Street, 5 Floor<br>
											New York, NY 10018<br>
											Call us before coming<br>
											<abbr title="Phone">P:</abbr>+17189093303
										</address>
									</div>
                </div>
							 <div class="row">
									 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									 <p align="center">© 2015 Erasmus Haus</p>
									 </div>
							 </div> 
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
</div><!--/ end container-->
