{# tamplates/footer.html #}

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-social-icons text-center">
									<div class="embed-responsive embed-responsive-4by3">
										<iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ferasmushausnyc%2Fvideos%2F1407664659266337%2F&show_text=0&width=400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
								  </div>
								</div>
                 <div class="col-sm-4">
									 <div class="haus-logo">
										 <p class="hidden-xs"style="padding:35px;"></p>
            			   <img src="/static/img/erasmus_small.png" class="img-responsive center-block" alt="Responsive image" width=200 height=200>
									 </div>
                </div>
                <div class="col-sm-4" id="">
                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
    <div id="footerRights" class="container-fluid copyright">
       <div class="row">
           <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
           <p align="center">© 2015 Erasmus Haus</p>
           </div>
       </div> 
    </div>
</div><!--/ end container-->
