{% extends "base.html" %}

{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

    
<!--Modal content-->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 btn-group-vertical" role="group">
									<h1 class="text-danger">Coming Soon!</h1>
                </div>
            </div>
            &nbsp;
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
     
        </div>
    </div>
 </div> 
</div><!--/ end modal -->

    <div class="container-fluid">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 55px;"></p> 
       </div> 
    </div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-danger">We are Currently Impoving our Web Site! Will be back Soon! Thank You!</h1>
		</div>
	</div>
</div>

    <div id="top" class="jumbotron">
       <div class="container text-center lazy">
            <p style="padding: 140px"></p> 
            <h2 class=""><strong><span class="haus">EXPLORE</span> <span class="erasmus-color"> ERASMUS HAUS</span><strong></h2>
                    <p class="lead haus">Erasmus Haus is a innovative real<br/>
                        estate company in New York City that provides tangible <br/>
                        advice through unedited videos, pictures or analysis. <br/>
												Dedicated to TENANT ADVISORY unlike brokers/agencies <br>
												making a quick buck.</p>
										<button type="button" class="active btn btn-lg btn-info round" data-toggle="modal" data-target="#loginModal" >EXPLORE</button>
                    <hr width="5%">
       </div> 
    </div>
    


{% endblock %}
