{% extends "base.html" %}

{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

    
<!--Modal content-->
<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Login</h4>
      </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 btn-group-vertical" role="group">
                    <a id="facebook_login" href="/accounts/facebook/login" method="js-sdk" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i>&nbsp;Sign in with Facebook</a>
                    <a id="linkedin_login" href="{% provider_login_url 'linkedin' %}" class="btn btn-primary btn-lg"><i class="fa fa-linkedin"></i>&nbsp;Sign in with LinkedIn</a>
                    <a id="twitter_login" href="{% provider_login_url 'twitter' %}" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i>&nbsp;Sign in with Twitter</a>
                </div>
            </div>
            &nbsp;
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
     
        </div>
    </div>
 </div> 
</div><!--/ end modal -->

    <div class="container-fluid">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 55px;"></p> 
       </div> 
    </div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="text-danger">We are Currently Impoving are Web Site! Will be back Soon! Thank You!</h1>
		</div>
	</div>
</div>

    <div id="top" class="jumbotron">
       <div class="container text-center lazy">
            <p style="padding: 140px"></p> 
            <h2 class=""><strong><span class="haus">EXPLORE</span> ERASMUS <span class="erasmus-color">HAUS</span><strong></h2>
                    <p class="lead haus">Erasmus Haus provides furnished<br/>
                        housing for the New York City international <br/>
                        community of students, interns<br/>
                        and young professionals.</p>
                    <hr width="5%">
       </div> 
    </div>
    
    <div class="container-fluid hidden-xs">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 15px;"></p> 
       </div> 
    </div>

    <div id="startchange" class="container" itemscope itemtype="http://schema.org/Offers">
      <!-- SOCIETE row of columns -->
      <div class="row SOCIETE-columns">
        <div class="col-md-4">
            <img src="static/img/join_societe/icons-01.png" class="lazy img-rounded img-responsive" alt="Responsive image" width=120 height=120>
            <h4><strong>No Broker or Hidden Fees</strong></h4>
            &nbsp;
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div><!--/ end col -->
        <div class="col-md-4">
            <img src="static/img/join_societe/icons-02.png" class="lazy img-rounded img-responsive" alt="Responsive image" width=120 height=120>
            <h4><strong>Extremely Fast.</strong></h4>
            &nbsp;
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div><!--/ end col -->
        <div class="col-md-4">
            <img src="static/img/join_societe/icons-03.png" class="lazy img-rounded img-responsive" alt="Responsive image" width=120 height=120>
            <h4><strong>Flexible Lease Terms</strong></h4>
            &nbsp;
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!--/ end col-->
      </div><!--/ end row -->

      <hr>
      
      <div class="row SOCIETE-columns">
        <div class="col-md-4">
            <img src="static/img/join_societe/icons-04.png" class="lazy img-rounded img-responsive" alt="Responsive image" width=120 height=120>
            <h4><strong>Operations and Engeneering.</strong></h4>
            &nbsp;
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div><!--/ end col -->
        <div class="col-md-4">
            <img src="static/img/join_societe/icons-05.png" class="lazy img-rounded img-responsive" alt="Responsive image" width=120 height=120>
            <h4><strong>Networking.</strong></h4>
            &nbsp;
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div><!--/end col -->
        <div class="col-md-4">
            <img src="static/img/join_societe/icons-06.png" class="lazy img-rounded img-responsive" alt="Responsive image" width=120 height=120>
            <h4><strong>Safety.</strong></h4>
            &nbsp;
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div><!--/ end col -->
      </div><!--/ end row -->
    </div><!--/ end container-fluid -->

    <div class="container-fluid hidden-xs">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 15px;"></p> 
       </div> 
    </div>

		<!-- House Carousel Section -->
			<section class="section-white">
				<div class="container custom-carousel">

					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-example-generic" data-slide-to="1"></li>
							<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img src="http://placehold.it/800x400" alt="...">
								<div class="carousel-caption">
									<h2>Heading</h2>
								</div>
							</div>
							<div class="item">
								<img src="http://placehold.it/800x400" alt="...">
								<div class="carousel-caption">
									<h2>Heading</h2>
								</div>
							</div>
							<div class="item">
								<img src="http://placehold.it/800x400" alt="...">
								<div class="carousel-caption">
									<h2>Heading</h2>
								</div>
							</div>
						</div>

						<!-- Controls -->
						<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>

				</div>
			</section>

    <div class="container-fluid hidden-xs">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 15px;"></p> 
       </div> 
    </div>

    <div class="container-fluid">
       <div class="row">
           <!-- Portfolio Section -->
           <div class="col-xs-12 text-center">
               &nbsp;
               <h4 class="spec"><strong>What we do</strong></h4>
               <h2 class="hidden-xs"><span class=""></span>&nbsp;<strong>FOUND US ALL OVER THE WORLD</strong></h2>
               <hr class="bottom-line">
              <p>Erasmus Haus provides furnished housing for the</p>
                  <p>New York City international community of students, interns,</p>
                  <p>and young professionals.</p>
            </div><!--/ end col -->
        </div><!--/ end row -->
    </div><!--/ end container-fluid -->

        <div class="container-fluid">
            <div class="row">
           <!-- container devider -->
              <p style="padding: 15px;"></p> 
            </div> 
        </div>

		<div class="container">
			<div class="row">
				<section id="pinBoot">

					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/350x150" alt="">
						<h4><a href="">Title 1</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>

					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/450x150" alt="">
						<h4><a href="">Title 2</a></h4>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>

					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/500x150" alt="">
						<h4><a href="">Title 3</a></h4>
 						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</article>
					
					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/250x150" alt="">
						<h4><a href="">Title 4</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>
					
					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/150x150" alt="">
						<h4><a href="">Title 5</a></h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>

					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/600x150" alt="">
						<h4><a href="">Title 6</a></h4>
 						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</article>

					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/550x150" alt="">
						<h4><a href="">Title 7</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</article>

					<article class="white-panel"><img class="pinterest-image" src="http://placehold.it/550x150" alt="">
						<h4><a href="">Title 8</a></h4>
					</article>

				</section>
			</div>
		</div>

	<div class="container">
		<div class="row">
			<p style="padding: 10px;"></p>
		</div>
	</div>

  <div class="container-fluid easy">
		<div class="row">
				<div class="col-xs-12 text-center" id="">
										<h2 class="">Easy as One, Two, Three</h2>
										<p>Enjoyed married an feeling delight as offered.</br> As admire roused length likely played pretty
										to no.</br> Means had joy miles her merry solid order.</p>
				</div>
		</div>
	</div><!--/end container-fluid-easy -->



{% endblock %}
