{# tempaltes/navbar.html #}

<!-- First Navbar Section -->
<div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-topnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <span itemscope itemtype="http://schema.org/Brand" itemprop="brand"><a class="navbar-left" href="{% url 'index' %}">
                  <img class="responsive-img hidden-xs" src="/static/img/LogoFinalErasmus-01.png" >
                  <img id="mobile-logo" class="responsive-img visible-xs mobile-logo" src="/static/img/LogoFinalErasmus-01.png" width=160>
          </a></span>
        </div>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbar-collapse-topnav">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="https://drive.google.com/drive/folders/0B-IM7D5R_56aVC1ERGJYRHlPUUE?usp=sharing">tenant advisory</a></li>
                <li class=""><a href="{% url 'about' %}">erasmus places</a></li>
            {% if user.is_authenticated %}
                <li><a id="logout" href="/accounts/logout">Logout</a></li>
            {% else %}
                <!--<li class=""><a href="#" data-toggle="modal" data-target="#loginModal"><button type="button"
                   class="btn btn-sm btn-info round"></button></a></li>
                </li>-->
            {% endif %}
                </ul>
        </div>
    </div>
</div>

<!-- Second Navbar Section -->
<div class="navbar navbar-fixed-top navbar-default navbar-lower">
    <div class="container">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-social">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbar-collapse-social">
          <ul class="nav navbar-nav">
           <li><a href="" class="text-danger"></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="https://www.facebook.com/erasmushausnyc"><i class="fa fa-facebook-official fa-3x"></i></a></li>
          </ul>
        </div>
    </div>
</div>
