{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
   <div class="row">
       <p style="padding:50px"></p>
   </div> 
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h1>Register Today!</h1>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <form id="user_form" accept-charset="UTF-8" action="{% url 'register' %}" class="form-horizontal"  method="post">
          {% csrf_token %}
          {% if form.is_bound and not form.is_valid %}
            <div class="alert alert-{{error.tags}}"> <a class="close" data-dismiss="alert">×</a>
              <div class="errors">
                {% for field in form.visible_fields %}
                {% for error in field.errors %}
                <p>{{ field.label }}: {{ error }}</p>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
          {% for field in form.visible_fields %}
          {% include "field.html" %}
          {% endfor %}
          <div id="change-card" class="clearfix"{% if not form.last_4_digits.value %} style="display: none"{% endif %}>
            Card
            <div class="input">
              Using card ending with {{ form.last_4_digits.value }}
              (<a href="#">change</a>)
            </div>
          </div>      
          {% include "cardform.html" %}
        </form>
      </div>
    </div>  
</div>
{% endblock %}
