{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p style="padding:50px;"></p>
          {% if user.is_authenticated and registered%}
              <h2>Hello {{ user.username }}. Welcome to SOCIETE.</h2>
          {% else %}
          SOCIETE: <strong>plese register here!</strong>
          {% endif %}
      </div> 
   </div> 
</div>

   <div class="row">
       <div class="col-xs-12 col-sm-6 col-sm-offset-3
                  col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

        <form id="user_form" class="form-horizontal"  action="/registration/register/" method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}

        <button type="submit" class="btn btn-primary">Submit</button>
            
        
        </form>

       </div>
    </div> 

{% endblock content %}
