{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
       <div class="row">
           <!-- container devider -->
          <p style="padding: 50px;"></p> 
       </div> 
    </div>
<div id="success" class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

            <h1>Thank you!</h1>
                <p class="lead">SOCIETE team will contact you soon via email, and give further instruciton.</p>
            <a href="{% url 'index'%}">Return to Home page</a>
          
      </div> 
   </div> 
</div>
{% endblock %}
