{# tempaltes/account/login.html #}
{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block login-content %}
    <!-- HEADER -->
    <header id="header">
    <nav class="navbar st-navbar navbar-default navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
								<a class="navbar-brand" href="{% url 'index' %}"><img src="/static/img/logo1.png" alt="Welcome to SuperJobs"></a>
            </div>
            <div id="st-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
									<li class="active"><a href="{% url 'index' %}">Home</a></li>
									<li><a href="{% url 'about' %}">About</a></li>
									<li><a href="{% url 'jobs' %}">Career</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign In <span class="caret"></span></a>
                        <ul class="dropdown-menu">
													{% if user.is_authenticated %}
                            <li><a id="logout" href="/accounts/logout"><i class="fa fa-user" aria-hidden="true"></i>Logout</a></li>
													{% else %}
                            <li><a href="/accounts/signup"><i class="fa fa-user" aria-hidden="true"></i> SignUp</a></li>
                            <li><a href="/accounts/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
													{% endif %}
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    <!-- /HEADER -->

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>{% trans "Sign In" %}</h1>


			<p>{% blocktrans %}If you have not created an account yet, then please
			<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

			<form class="login" method="POST" action="{% url 'account_login' %}">
				{% csrf_token %}
				{{ form.as_p }}
				{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
				<button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
			</form>
			
			<div class="row">
			<div class="col-md-12">
				<p style="padding: 15px;"></p>
				<a id="facebook_login" href="/accounts/facebook/login" method="js-sdk" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i>&nbsp;Sign in with Facebook</a>
				<a id="linkedin_login" href="/accounts/login/" class="btn btn-primary btn-lg"><i class="fa fa-linkedin"></i>&nbsp;Sign in with LinkedIn</a>
			</div>
			</div>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<p style="padding:20px;"></p>
	</div>
</div>
{% endblock %}
