{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block SignUp-content %}

<div class="container">
	<div class="row">
		<p style="padding:30px;"></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
				<h1>{% trans "Sign Up" %}</h1>

				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
					{% csrf_token %}
					{{ help_text_and_errors|join:' ' }}
					{{ form.as_p }}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button type="submit">{% trans "Sign Up" %} &raquo;</button>
				</form>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<p style="padding:70px;"></p>
	</div>
</div>

{% endblock %}
