{% load staticfiles %}
<div id="id_review_{{ review.id }}" class="on_map_review {% if marked %}marked{% endif %}" 
    style="left:{{ review.position_x }}px; top:{{ review.position_y }}px;" 
    itemprop="comment" itemscope itemtype="http://schema.org/Comment">
    <div class="review_body">
        <p itemprop="text">
            {{ review.message }}
        </p>
        <a itemprop="sameAs" href="{{ review.url }}">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ review.name }}</span>
                <meta itemprop="image" content="{{ MEDIA_URL }}{{ review.photo }}"></meta>
            </span>
        </a>
    </div>
    <div class="arrow">
    </div>
    <div style="background: url('{{ MEDIA_URL }}{{ review.photo }}') no-repeat; background-size:cover;background-position:center;" class="review_img">
    </div>
</div>
